@import 'core/variables';

/* Mapa de la sección Sobre nosotros */

.google-maps {
    position: $positionR;
    padding-bottom: 45%;
    height: 0;
    overflow: $overflowH;
}

.google-maps iframe {
    position: $positionA;
    top: 0;
    left: 0;
    width: $width100 !important;
    height: $height100 !important;
}

.contentAbout {
    font-family: $fontCalibri;
    padding: 2%;
    font-size: 1.5rem;
}